* {
    box-sizing: border-box;
}

body {
    background-image: url('../static/bgi.jpg');
    background-image: url("../static/mainpic_small.jpg");
    background-position: center;
    background-repeat: none;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.head-img {
    width:100%;
    height: 100px;
    background-image: url("../static/generatedtext.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.world-map-img {
    height: 330px;
    width: 100%;
    background-image: url('../static/world_map1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    margin: 10px 0;
}

.h1 {
      display: inline-block;
}

.logout {
      display: inline-block;

}

.fontcolor {
    color: aliceblue;
}

.continent-btn {
    border-radius: 5px;
    font-weight: bold;
    color:white;
    background-color:#FFBB11;
}

.continent-btn:hover {
    color: black;
    
}

/* 버튼 디자인 */

.ALL {
    position: relative;
    top : 150px;
    left: 300px;
    padding: 30px;
    border-radius: 50%;
}

.AF {
    position: relative;
    top : 150px;
    right : 400px;
}

.NA {
    position: relative;
    top: 50px;
    left: 330px;
}

.SA {

    position: relative;
    top: 200px;
    left: 220px;
}

.AS {

    position: relative;
    top: 50px;
    right: 200px;
}

.EU {
    position: relative;
    top: 50px;
    right: 320px;
}

/* 레스토랑 등록 */
#post-place {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#post-place h3 {
    text-align: center;
}

.post-btn {
    width: 100%;
    color: white;
}

/* 레스토랑 카드 */
.card img {
    height: 200px;
    height: 300px;
    object-fit: cover;
}

/* 로그아웃 버튼 */
.logout-btn {
    font-weight: bold;
}

.post-modal-btn {
    width: 100%;
    margin-bottom: 5px;
}

.post-modal-btn span{
    font-weight: bold;
}

.bottom {
    margin: 100px 0 30px;
    display: flex;
    justify-content: center;
}