* {
    box-sizing: border-box;
}

body {
    background-image: url("https://files.slack.com/files-pri/T03GJEFQ63V-F03PU54QF9N/mainpic.jpg");
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.world-map-img {
    height: 330px;
    width: 100%;
    background-image: url('../static/world_map1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}



.fontcolor {
    color: aliceblue;
}

.AF {
    position: relative;
    top : 150px;
    right : 360px;
}

.NA {
    position: relative;
    top: 50px;
    left: 350px;
}

.SA {

    position: relative;
    top: 200px;
    left: 270px;
}

.AS {

    position: relative;
    top: 50px;
    right: 300px;
}

.EU {
    position: relative;
    top: 80px;
    right: 220px;
}

/* 레스토랑 등록 */
#post-place {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#post-place h3 {
    text-align: center;
}

.post-btn {
    width: 100%;
    color: white;
}

/* 레스토랑 카드 */
.card img {
    height: 300px;
    object-fit: cover;
}